/*Let's mark up the HTML file*/
/*The 2 first functions are about making a background for the page by adding an image and making a suitable space for the body element*/
/*Background color*/
html {
    background-color: rgb(2, 2, 44); 
}
* {
    color: white; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
section {
    background-color: rgb(2, 2, 44);
    opacity: 80%;
    height: max-content;    
    overflow-x: hidden;
}
/*Background image*/
body {
    background: url(cover.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
/*These 3 functions are styling the top elements of the project (TV name and the purpose of the page)*/
/*This is there division*/
.top {
    text-align: center;
}
/*This is the title of the page style (TV name)*/
.title {
    font-size: 3rem;
}
/*This is the page description style (The general purpose of the page)*/
.description {
    font-size: 2rem;
    font-style: italic;
    padding:0 1rem;
}

/*This style part is styling where the user is going to enter his/her personal data and also fill his/her suggestion*/
/*This function styles all the form altogether*/
.theform {
    width: 90%;
    padding:2rem;
    text-align: left;
}
input,select,textarea {
    font-size: 1rem;
}
/*The next ones are styling fieldset and legend elements*/
fieldset {
    border-color: white;    
    padding: 0 1rem;
}

legend {
    margin-bottom: 1rem;
}
/*The next 2 funtions styles generally the labels and inputs elements altogether*/
.labels {
    display: block;
    margin-bottom: 1rem;
}
.inputs {
    display: block;
    margin-top: .8rem;
    width: 100%;
    height: 2rem;
    border-color: transparent;
    border-radius: .5rem;
}
/*But some labels and inputs can not have similar properties even tho they are of same types example like if they must be on a same block but if you observe the above general properties u see that they are on diffrent blocks*/
.five,.six,.seven,.eight,.nine,.ten,.eleven {
    display: inline-block;
    width: unset;
    height: unset;
}
.L5,.L6,.L7,.L8,.L9,.L10,.L11 {
   display: block;
}
/*The last two functions are all about styling the submit button*/
.twelve {
    background-color:rgb(164, 164, 240);  
}
.twelve:hover {
    background-color: rgb(2, 2, 44);
    color: white;
}
.twelve:active {
    background-color: blue;
    color: white;
}
/*responsivness*/

@media (width>1024px) {
    html {
        font-size: 25px;
    }
}
@media (width < 1024px) and (width >= 480px) {
    html {
        font-size: 16px;
    }
}

@media (width < 480px) {
    html {
        font-size: 12.5px;
    }
}